* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #000;
}

/* Header */
.header {
  background: #fff;
  position: sticky;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.logo img {
  width: 100px;
  height: 60px;
  margin-left: -60px;
}

.nav-left {
  margin-left: -500px;
}
.nav-left a {
  margin: 0 12px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-right button {
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.btn1 {
  background: transparent;
  border: none;
  color: #000000;
  margin-right: 20px;
  font-size: 15px;
}

.btn2 {
  background: transparent;
  border: 1px solid #000;
}

.btn3 {
  background: #000;
  color: #fff;
  border: none;
}

/* Banner */

.banner {
  background-color: #32462f;
  color: #fff;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner p {
  font-weight: 700 !important;
  font-size: 18px;
}
.banner button {
  margin-left: 20px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
}

/*  Feature image 1 */

.feature1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5F4633;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 586px;
}
.img1{
    min-width: 280px;
    text-align: center;
    flex: 1;
}
.img1 img{
  width: 100%;
  max-width: 675px;
}
.text1{
    flex: 1;
    min-width: 280px;
    text-align: center;
}
.text1 h2{
    font-size: 50px;
    letter-spacing: 1.5px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: -40px;
}
.text1 p{
    font-size: 25px;
    letter-spacing: -0.5px;
    color: #fff;
    line-height: 1.6;
}
.feature1 button{
    padding: 10px 24px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

/*  Feature image 2 */

.feature2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006342;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 586px;
}
.img2{
    min-width: 280px;
    text-align: center;
    flex: 1;
}
.img2 img{
  width: 100%;
  max-width: 675px;
}
.text2{
    flex: 1;
    min-width: 280px;
    text-align: center;
}
.text2 h2{
    font-size: 50px;
    letter-spacing: 1.5px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: -10px;
}
.text2 p{
    font-size: 25px;
    letter-spacing: -0.5px;
    color: #fff;
    line-height: 1.6;
}
.feature2 button{
    padding: 10px 24px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #fff;
    color: #006342;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

/*  Feature image 3 */

.feature3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #61381C;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 394px;
}

.img3{
    min-width: 280px;
    text-align: right;
    flex: 1;
}
.img3 img{
    width: 100%;
    max-width: 675px;
}
.text3{
    flex: 1;
    min-width: 280px;
    text-align: center;
}
.text3 h2{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    margin-top: -10px;
}
.text3 p{
    font-size: 20px;
    color: #fff;
    line-height: 1.6;
    font-weight: 400;
}
.feature3 button{
    padding: 8px 15px;
    border-radius: 50px;
    margin-top: 30px;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-color: #fff;
    border: solid 1px;
}


/*  Feature image 4 */

.feature4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1d1aa;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 395px;
}
.img4{
    min-width: 280px;
    text-align: center;
    flex: 1;
}
.img4 img{
  width: 100%;
  max-width: 675px;
}
.text4{
    flex: 1;
    min-width: 280px;
    text-align: center;
}
.text4 h2{
    font-size: 24px;
    font-weight: 700;
    color: #32472F;
    margin-bottom: 30px;
    margin-top: -10px;
}
.text4 p{
    font-size: 19px;
    color: #32472F;
    line-height: 1.6;
    font-weight: 400;
}
.feature4 button{
    padding: 8px 16px;
    border-radius: 50px;
    margin-top: 35px;
    background-color: transparent;
    color: #32472F;
    font-weight: 600;
    font-size: 16px;
    border-color: #32472F;
    border: solid 1px;
}

/* Text Area */

.textarea{
    padding: 0px;
    text-align: center;
    background: white;
}
.p1{
    font-weight: 600 !important;
    font-size: 14px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    margin-bottom: 100px;
}
.p2{
    font-weight: 600 !important;
    font-size: 14px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.p3{
    font-weight: 600 !important;
    font-size: 14px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}